<div class="container-fluid">

  <form class="form-inline form">

    <label class="castom-input">
      <input (keydown.enter)="keydownEnter($event)"
             (ngModelChange)="searchCities()"
             autocomplete="off"
             debounce="800"
             class="form-control mr-sm-2 input-style"
             placeholder="enter city"
             [(ngModel)]="searchName"
             name="first">
      <span (click)="searchCities()" class="search-icon">🔍</span>
    </label>

  </form>

  <div #foundCities>
    <div class="list-group" *ngFor="let cityInTheSearchList of citiesInSearchList" id="#search">
      <button *ngIf="!isInListOfCities(cityInTheSearchList.id)" type="button"
              class="list-group-item btn button-city-in-search-list"
              (click)="addCity(cityInTheSearchList.id)">
        {{cityInTheSearchList.sys.country | transformCountryName}}, {{cityInTheSearchList.name}}
      </button>
      <button disabled
              *ngIf="isInListOfCities(cityInTheSearchList.id)" type="button"
              class="list-group-item btn button-city-in-search-list-disabled"
      >
        {{cityInTheSearchList.sys.country}}, {{cityInTheSearchList.name}}
      </button>
    </div>
  </div>

  <div class="row row-style">

    <div class="col">
      <button class="btn btn-primary drop-down-list-of-cities"
              type="button" data-toggle="collapse"
              data-target="#collapsibleCityList"
              aria-expanded="true"
              aria-controls="collapsibleCityList">
        My cities
      </button>
      <div class="collapse show" id="collapsibleCityList">
        <div class="list-group" *ngFor="let city of citiesInUserList; let i = index">
          <button type="button" class="btn button-city-in-user-list" (click)="setCityCardValue(city)" id="butt{{i+1}}">
            {{city.name}}
            <img
              [src]="city.weather[0].icon? 'http://openweathermap.org/img/w/' + city.weather[0].icon + '.png' : 'https://icon-library.com/images/not-found-icon/not-found-icon-29.jpg'">
            {{city.main.temp}} °C
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <app-city-card
        [city]="city">
      </app-city-card>
    </div>

  </div>

</div>
