@media only screen and (min-width: 500px) {

  .castom-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 3vh;

    .search-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 10px;
      width: 25px;
      height: 25px;
      transform: scale(1.3);
      animation-name: buildup;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @keyframes buildup {
      from {
        transform: rotate(0deg) scale(1.3)
      }
      to {
        transform: rotate(20deg) scale(1.3)
      }
    }

    .input-style {
      background-color: #e3f2fd;
      width: 40vw;
      min-width: min-content;
      height: 40px;
    }
  }

  .button-city-in-search-list {
    height: 40px;
    text-align: left;
    width: 40vw;
    min-width: min-content;
    background-color: #e3f2fd;

    &:before {
      content: '➕';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 10px;
      width: 25px;
      height: 25px;
    }
  }

  .button-city-in-search-list:hover {
    background-color: aquamarine;
  }

  .button-city-in-search-list-disabled {
    background-color: gainsboro;
    height: 40px;
    text-align: left;
    width: 40vw;
    min-width: min-content;

    &:before {
      content: '✅';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 10px;
      width: 25px;
      height: 25px;
    }
  }

  .button-city-in-user-list {
    min-width: 40vw;
    max-width: min-content;
    height: 40px;
    margin-top: 3px;
    margin-left: 5px;
    background-color: #e3f2fd;
  }


  .button-city-in-user-list:hover {
    background-color: aquamarine;
    box-shadow: 0 0 14px aquamarine;
  }

  .drop-down-list-of-cities {
    width: 40vw;
    min-width: min-content;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-left: 5px !important;

    &:before {
      content: '📜';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 10px;
      width: 25px;
      height: 25px;
    }
  }

}

@media only screen and (max-width: 499px) {

  .castom-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 3vh;

    .search-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 10px;
      width: 25px;
      height: 25px;
      transform: scale(1.3);
      animation-name: buildup;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @keyframes buildup {
      from {
        transform: rotate(0deg) scale(1.3)
      }
      to {
        transform: rotate(20deg) scale(1.3)
      }
    }

    .input-style {
      background-color: #e3f2fd;
      width: 90vw;
      height: 40px;
    }
  }

  .button-city-in-search-list {
    height: 40px;
    text-align: left;
    width: 90vw;
    min-width: min-content;
    background-color: #e3f2fd;

    &:before {
      content: '➕';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 10px;
      width: 25px;
      height: 25px;
    }
  }

  .button-city-in-search-list:hover {
    background-color: aquamarine;
  }

  .button-city-in-search-list-disabled {
    background-color: gainsboro;
    height: 40px;
    text-align: left;
    width: 90vw;
    min-width: min-content;

    &:before {
      content: '✅';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 10px;
      width: 25px;
      height: 25px;
    }
  }

  .button-city-in-user-list {
    width: 90vw;
    min-width: min-content;
    height: 40px;
    margin-top: 1px;
    background-color: #e3f2fd;
  }


  .button-city-in-user-list:hover {
    background-color: aquamarine;
    box-shadow: 0 0 14px aquamarine;
  }

  .drop-down-list-of-cities {
    width: 90vw;
    min-width: min-content;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &:before {
      content: '📜';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: 10px;
      width: 25px;
      height: 25px;
    }
  }

}

img {
  width: 25px;
  height: 25px;
}

.row-style {
  margin-top: 7vh
}

.focus-button {
  width: 40.5vw;
  min-width: min-content;
  height: 40px;
  margin-top: 1px;
  background-color: aquamarine;
  box-shadow: 0 0 14px aquamarine;
}



