.contact-card {
  width: 420px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50% - 150px);
  background-color: #81F7D8;
  border: 8px darkblue dashed;
}

ul {
  padding: 0;
  list-style-type: none;

}

li {
  font-size: x-large;
}

// only for screens with a width of less than 500px
@media only screen and (max-width: 500px) {
.contact-card {
  width: 265px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50% - 40px);
  background-color: #81F7D8;
  border: 5px darkblue dashed;
}

  ul {
    padding: 0;
    margin-left: -10px;
    margin-top: 30px;
    list-style-type: none;
  }

  li {
    font-size: medium;
    margin-left: 10px;
  }

  h1 {
    font-size: x-large;
  }
}
