<div class="card contact-card">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center">Contact information</h1>
    <div class="card-text">
      <ul>
        <li>mobile phone: 89270264053</li>
        <li>e-mail: vitalybobrov@mail.ru</li>
        <li><a href="https://bitbucket.org/BobrovVitaly/">link to the bitbucket</a></li>
      </ul>
    </div>
  </div>
</div>
