
li {
  background-color: #e3f2fd;
}

i {
  color: red;
}

img {
  width: 30px;
  height: 30px;
}

.card-menu {
  background-color: #e3f2fd;
}

.nav-link.active {
  background-color: aquamarine;
}

.delete-button {
  margin-left: auto;
}

.city-card {
  background-color: #e3f2fd;
  max-width: 40vw;
  min-width: 250px;
}

// only for screens with a width of less than 500px
@media only screen and (max-width: 499px) {
  .city-card {
    background-color: #e3f2fd;
    max-width: 90vw;
    min-width: 250px;
  }
}


