<div *ngIf="city">

  <div class="card city-card">

    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#location">location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link card-menu" data-toggle="tab" href="#weather">weather</a>
        </li>
        <button class="btn delete-button" (click)="deleteCity()">
          <i (click)="deleteCity()" class="fas fa-dumpster fa-inverse"></i>
        </button>
      </ul>
    </div>

    <div class="card-body tab-content">

      <div class="tab-pane fade show active" id="location">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> 🏙️ Location: {{city.sys.country}}, {{city.name}}</li>
          <li class="list-group-item"> 🌐 lon: {{city.coord.lon}}°, lat: {{city.coord.lat}}°</li>
        </ul>
      </div>

      <div class="tab-pane fade" id="weather">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <img [src]="city.weather[0].icon? 'http://openweathermap.org/img/w/' + city.weather[0].icon + '.png' : 'https://icon-library.com/images/not-found-icon/not-found-icon-29.jpg'">
            {{city.main.temp}}°C
          </li>
          <li *ngIf="city.wind" class="list-group-item"> 💨 wind {{city.wind.deg | transformWindDirection}}, {{city.wind.speed}} km/h</li>
          <li *ngIf="city.main.humidity" class="list-group-item"> 💦 humidity {{city.main.humidity}}%</li>
          <li *ngIf="city.rain" class="list-group-item"> ☔ {{city.rain | rainfallPrecipitationTransformation}} </li>
          <li *ngIf="city.snow" class="list-group-item"> ❄ {{city.snow | snowPrecipitationTransformation}} </li>
          <li *ngIf="city.main.pressure" class="list-group-item"> 🌡️ pressure {{city.main.pressure*0.750062 | number:'3.0-0'}} mmHg</li>
          <li *ngIf="city.visibility" class="list-group-item"> 👀 visibility {{city.visibility}} m</li>
        </ul>
      </div>

    </div>

  </div>

</div>










