/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-color: #81BEF7;
}




