.menu-button {
  margin-left: 15px;
  border-radius: 10px;
  background-color: #CEF6F5;
  font-weight: 600;
  height: 50px;
  width: 120px;
}

.menu-button:hover {
  background-color: #FA5882;
}

@media only screen and (max-width: 499px) {
  .menu-button {
    margin-left: 9px;
    margin-bottom: 3px;
    border-radius: 7px;
    background-color: #CEF6F5;
    font-weight: 600;
    height: min-content;
    width: 90vw;
    font-size: small;
  }

  .menu-button:hover {
    background-color: #FA5882;
  }
}
